body {
    min-height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
}

.img-container {
    width: 500px;
    background-image: url("Hallway_with_a_statue_of_the_Venus_de_Milo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-container {

}