body {
    min-height: 100vh;
    background-color: black;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 500px;
    background-image: url("Hallway_with_a_statue_of_the_Venus_de_Milo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-container {
    background: rgb(0,0,0,0.5);
    height: 20%;
    width: 100%;
}

.form-container {

}